/* Importacao da font Alan Sans */

@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  box-sizing: border-box;
  background-color: #333;
  color: #fff;
  font-family: "Alan Sans", sans-serif;
}